body {
    background: #621402;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 57px;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-left: 11px;
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
}